<form action="/expense/add" method="POST">
    <h2>Expense Tracker App</h2>
    <h4>Add expense</h4>
    <label for="description">Description</label>
    <input type="text" name="expense">
    <label for="description">Amount</label>
    <input type="text" name="amount">
    <label for="category">Category</label>
    <select name="category">
        <option selected disabled>Select a category</option>
        {{#each category}}
        <option>{{category_type}}</option>
        {{/each}}
    </select>

    <button type="submit">Submit</button>
</form>